.App {
  text-align: center;
  background-color: #ffe8d6;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #aaf683;
  color: whitesmoke;
}
/* #9ee493 */

.nav {
  text-decoration: none;
  color: red;
}
