.App {
  text-align: center;
  background-color: #ffd97d;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #aaf683;
  color: whitesmoke;
}
/* #9ee493 */

.form-title {
  padding-top: 50px;
  font-size: 50px;
}
.MenuItem {
  color: green;
}
