@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  text-align: center;
  background-color: #ff980e;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #ff681e;
  color: whitesmoke;
}

.nav {
  text-decoration: none;
  color: black;
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recipe {
  border-style: solid;
  border-radius: 15px;
  margin: 25px;
  width: 600px;
  box-shadow: 0 2px 20px black;
  overflow: hidden;
  background-color: #d3212c;
  color: whitesmoke;
  border-color: whitesmoke;
}

.ingredients {
  width: 450px;
  white-space: pre-wrap;
  text-align: left;
  margin-left: 20px;
}
.chiles {
  width: 600px;
}

.steps {
  width: 450px;
  white-space: pre-wrap;
  text-align: left;
  margin-left: 20px;
}

.home {
  color: whitesmoke;
  margin-top: 30px;
}

@media only screen and (max-width: 850px) {
  .chiles {
    width: 400px;
  }
  .recipe {
    margin: 40px;
    width: 300px;
    overflow: scroll;
  }
  .ingredients {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    white-space: pre-wrap;
    margin-left: 10px;
  }
}
